{% extends "_subbase.html" %}

{% block base_content %}

<div class="outer">
  <header class="pageheader">
      <h1>Leicester<br>
          <span class="hidden-xs">Biomedical Research Centre</span>
          <span class="hidden-sm hidden-md hidden-lg">BRC</span>
      </h1>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if current_user.is_active %}
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand fas fa-home" href="{{ url_for('ui.index') }}"></a></li>
        <li><a href="{{ url_for('ui.index') }}">Studies</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.full_name }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for_security('change_password') }}">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for_security('logout') }}">Log Out</a></li>
              </ul>
          </li>
        </ul>
      {% endif %}
  </nav>

  <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

          {% set class="alert-info" %}
          {% set gliph="glyphicon-info-sign" %}

          {% if category == "warning" %}
            {% set class="alert-warning" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "error" %}
            {% set class="alert-danger" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "success" %}
            {% set class="alert-success" %}
            {% set gliph="glyphicon-ok" %}
          {% endif %}


          <div class="row">
              <div class="alert {{class}} col-xs-6 col-md-6 col-md-offset-3" role="alert">
                  <span class="glyphicon {{gliph}}" aria-hidden="true"></span>
                  <span class="sr-only">{{category}}:</span>
                  {{message}}
              </div>
          </div>
        {% endfor %}
      {% endwith %}
      
      {% block content %}{% endblock %}

    </div>

    <footer>
        <p>
            Copyright &copy; 2018 NIHR Leicester Biomedical Research Centre
        </p>
    </footer>
</div>
{% endblock %}

