{% extends "_subbase.html" %}

{% block base_content %}

  <div class="errors col-md-8 col-md-offset-2">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

          {% set class="alert-info" %}
          {% set gliph="glyphicon-info-sign" %}

          {% if category == "warning" %}
            {% set class="alert-warning" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "error" %}
            {% set class="alert-danger" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "success" %}
            {% set class="alert-success" %}
            {% set gliph="glyphicon-ok" %}
          {% endif %}


          <div class="row">
              <div class="alert {{class}}" role="alert">
                  <span class="glyphicon {{gliph}}" aria-hidden="true"></span>
                  <span class="sr-only">{{category}}:</span>
                  {{message}}
              </div>
          </div>
        {% endfor %}
      {% endwith %}

      {% block errors %}{% endblock %}
  </div>

  <div class="panel panel-primary login-form">
      <div class="panel-heading">{{ site_name }}: {% block formname %}{% endblock %}</div>
      <div class="panel-body">
        <div class="login-form-body">
            {% block content %}{% endblock %}
        </div>

      </div>
  </div>

{% endblock %}

