{% extends "_loginFormBase.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block formname %}Change Password{% endblock%}
{% block errors %}
	{{ formhelper.render_form_errors(change_password_form)  }}
{% endblock %}

{% block content %}

<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" class="form-horizontal">
	{{ change_password_form.hidden_tag() }}

	<div class="form-group input-group">
		<span class="input-group-addon">
			<span class="fas fa-unlock"></span>
		</span>
		{{ change_password_form.password(class="form-control", placeholder="Current Password") }}
	</div>

	<div class="form-group input-group">
		<span class="input-group-addon">
			<span class="fas fa-lock"></span>
		</span>
		{{ change_password_form.new_password(class="form-control", placeholder="New Password") }}
	</div>

	<div class="form-group input-group">
		<span class="input-group-addon">
			<span class="fas fa-check-double"></span>
		</span>
		{{ change_password_form.new_password_confirm(class="form-control", placeholder="Confirm New Password") }}
	</div>

	<div class="text-right">
		<a href="{{ url_for('ui.index') }}" class="btn btn-default" role="button">Cancel</a>
		<button type="submit" class="btn btn-primary">Change</button>
	</div>
</form>

<div class="description">
	<p>
		Your new password must contain at least one of each of the following characters:
	</p>
	<ul>
		<li>Lowercase letter</li>
		<li>Uppercase letter</li>
		<li>Punctuation character</li>
	</ul>
</div>


{% endblock %}