{% extends "lbrc/page_modal.html" %}
{% from "lbrc/form_macros.html" import render_field %}

{% block content %}
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
	<fieldset>
		{{ change_password_form.hidden_tag() }}

		<p>
			Your new password must contain at least one of each of the following characters:
		</p>
		<ul>
			<li>Lowercase letter</li>
			<li>Uppercase letter</li>
			<li>Punctuation character</li>
		</ul>
				
		<div class="field icon">
			{{ change_password_form.password(class="form-control", placeholder="Current Password") }}
		</div>

		<div class="field icon">
			{{ change_password_form.new_password(class="form-control", placeholder="New Password") }}
		</div>

		<div class="field icon">
			{{ change_password_form.new_password_confirm(class="form-control", placeholder="Confirm New Password") }}
		</div>

		<div class="button_bar">
			<a href="{{ url_for('ui.index') }}" class="muted" role="button">Cancel</a>
			<button type="submit">Change</button>
		</div>
	</fieldset>
</form>
{% endblock %}