{% extends "lbrc/page_modal.html" %}
{% from "lbrc/form_macros.html" import render_field %}

{% block content %}
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
    <fieldset>
        <img src="{{ url_for('lbrc_flask.static', filename='img/nihr-lbrc-cropped.png', ver=1) }}" alt="University Hospitals of Leicester Logo">
        {{ forgot_password_form.hidden_tag() }}

        <p>
            This page can be used to set a new password
            when you first access the system or if you
            have forgotten your password.
        </p>
        <p>
            Enter your email address that is registered with
            the portal.  A link will then be emailed to that
            address that will allow you to set a new password.
        </p>
                
        <div class="field icon email">
            {{ forgot_password_form.email(class="form-control", placeholder="Email Address") }}
        </div>

        <div class="button_bar">
            <button type="submit">Send Set Password Link</button>
            <a class="muted" href="{{ url_for('security.login') }}" role="button">Login</a>
        </div>
    </fieldset>
</form>
{% endblock %}