{% extends "_modalbase.html" %}
{% import "_formHelpers.html" as formhelper %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<p class="col-sm-6 col-sm-offset-3">
    This page can be used to set a new password
    when you first access the system or if you
    have forgotten your password.
    </p>
<p class="col-sm-6 col-sm-offset-3">
    Enter your email address that is registered with
    the portal.  A link will then be emailed to that
    address that will allow you to set a new password.
    </p>
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form" class="form-horizontal">
    {{ forgot_password_form.hidden_tag() }}

    <div class="col-sm-6 col-sm-offset-3">
        {{ formhelper.render_field(forgot_password_form.email) }}
    </div>
    <div class="col-sm-6 col-sm-offset-3 text-right">
        <a href="{{ url_for('security.login') }}" class="btn btn-info" role="button">Login</a>
        <button type="submit" class="btn btn-primary">Send Set Password Link</button>
    </div>
</form>

{% endblock %}