{% extends "_modalbase.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<p class="col-sm-6 col-sm-offset-3">
	Enter and confirm a new password.
</p>

{{ formhelper.render_form_errors(reset_password_form)  }}

<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form" class="form-horizontal">
	{{ reset_password_form.hidden_tag() }}

	<div class="col-sm-6 col-sm-offset-3">
		{{ formhelper.render_field(reset_password_form.password) }}
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		{{ formhelper.render_field(reset_password_form.password_confirm) }}
	</div>
	<div class="col-sm-6 col-sm-offset-3 text-right">
		<button type="submit" class="btn btn-primary">Reset</button>
	</div>
</form>

{% endblock %}