/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #f1f1f1;
  color: #333;
}

.navbar a {
  color: #333;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

header.pageheader {
  background-image: url(../img/bars-top.svg);
  background-size: 100% auto;
  padding: 15px 0 0 0;
}

header.pageheader h1 {
  background-color: white;
  margin: 0;
  padding: 50px 10px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  background-image: url(../img/nihr-logo-70.png);
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-origin: content-box;
}

footer {
  margin-top: 60px;
}

footer p {
  background-color: #333;
  color: white;
  padding: 10px 10px;
}

.navbar{
  padding: 10px 0;
  font-family: Open Sans;
}

.navbar a {
  color: #333;
  transition: color 0.5s;
  transition: background-color 0.5s;
  font-size: 18px;
  vertical-align: baseline;
 }

.navbar li a:hover, .navbar .open a:focus {
  background-color: #e1261c;
  color: white;
}

.navbar .navbar-brand {
  font-size: 15px;
  background-color: #e1261c;
  color: white;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

textarea {
  resize: vertical;
}

dd {
  margin-bottom: 10px;
}

.list-group-item a.download {
  margin-right: 20px;
  font-size: 20px;
}

.study_list li {
  list-style: none;
}

.study_list a {
  font-size: 20px;
}

.upload_details {
  padding: 10px;
}

.upload_details header {
  padding-bottom: 20px;
}

.upload_details h1 {
  font-size: 30px;
  color: #23527c;
  font-weight: bold;
  margin: 0;
}

.upload_details h2 {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.login-form {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-70%);
  box-shadow: 5px 10px 18px #CCC;
}

.login-form .panel-body {
  padding: 0;
}

.login-form-body {
  display: flex;
  align-items: stretch;
}

.login-form-body form {
  width: 500px;
  flex: 1;
}

.login-form-body .description {
  flex: 1;
  border-left: 1px solid #337ab7;
  padding: 20px;
  background-color: #5bc0de;
  color: #FFF;
  font-weight: bold;
}

.errors {
  margin-top: 10px;
}

.panel form {
  padding: 40px;
}