{% extends "lbrc_flask/page.html" %}
{% import "lbrc_flask/form_macros.html" as formhelper %}

{% block content %}

<section>

    <div class="page-header">
        <h1>{{ study.name }} Uploads</h1>

        {{ formhelper.render_search(
            searchForm,
            'ui.study_my_uploads',
            placeholder='enter search text - searches ' + study.get_study_number_name().lower(),
            buttons=[
                {
                    'id': 'upload_data',
                    'text': 'Upload Data',
                    'endpoint': 'ui.upload_data',
                },
            ],
            study_id=study.id,
        ) }}

    </div>

    <ul class="list-group">
        {% for u in uploads.items %}
            <li class="list-group-item">
                <div class='upload_details'>
                    <div>
                    </div>
                    <header>
                        <h1>
                            <span class="hidden-xs">{{ study.get_study_number_name() }}: </span>{{ u.study_number }}
                        </h1>
                        <h2>Uploaded on {{ u.date_created | date_format }} by <a href="mailto:{{ u.uploader.email }}">{{ u.uploader.full_name }}</a> at {{ u.uploader.site.name_and_number }}</h2>
                    </header>
                    <dl>
                        {% for d in u.data %}
                            <dt>{{ d.field.field_name }}</dt>
                            <dd>{{ d.value }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </li>
        {% endfor %}
    </ul>
    
</section>
    
{{ formhelper.render_pagination(uploads, 'ui.study_my_uploads', form=searchForm, study_id=study.id) }}

{% endblock %}