{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}
<section>
    <div class="page-header">
        <h1>{{ study.name }} Uploads</h1>

        {{ formhelper.render_search(searchForm, 'ui.study', placeholder='enter search text - searches ' + study.get_study_number_name().lower(), buttons={'Download Upload Details': 'ui.study_csv'}, study_id=study.id) }}

    </div>

    <ul class="list-group">
        {% for u in uploads.items %}
            <li class="list-group-item">
                <div class='upload_details'>
                    <header>
                        <h1>
                            <div class="pull-right">
                                {% if u.completed %}
                                    <span class="label label-default">Completed</span>
                                {% endif %}
                            </div>
                            <span class="hidden-xs">{{ study.get_study_number_name() }}: </span>{{ u.study_number }}
                        </h1>
                        <h2>Uploaded on {{ u.date_created | date_format }} by <a href="mailto:{{ u.uploader.email }}">{{ u.uploader.full_name }}</a> at {{ u.uploader.site.name_and_number }}</h2>
                    </header>
                    {% if u.data | length > 0 %}
                        <h3>Fields</h3>
                        <dl>
                            {% for d in u.data | sort(attribute='field.order')%}
                                <dt>{{ d.field.field_name }}</dt>
                                <dd>{{ d.value }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}

                    {% if u.files | length > 0 %}
                        <h3>Files</h3>
                        <div>
                            {% for f in u.files %}
                                <a class='download' href="{{ url_for('ui.download_upload_file', upload_file_id=f.id) }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> {{ f.get_download_filename() }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="float-right">
                        {% if u.files | length > 0 %}
                            <a class="btn btn-secondary download-all" href="#">Download All Files</a>
                        {% endif %}
                        {% if not u.completed %}
                            <a class="btn btn-primary" data-toggle="modal" href="#" data-target="#completeUploadModal" data-id="{{ u.id }}">Complete</a>
                        {% endif %}
                        {% if not u.deleted %}
                            <a class="btn btn-danger" data-toggle="modal" href="#" data-target="#deleteUploadModal" data-id="{{ u.id }}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
        
</section>

<!-- Delete Confirmation Dialog -->
<div class="modal fade" id="deleteUploadModal" tabindex="-1" role="dialog" aria-labelledby="deleteUploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteUploadModalLabel">Delete Upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this upload?
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('ui.upload_delete') }}" method="POST">
                {{ confirm_form.hidden_tag() }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Complete Confirmation Dialog -->
<div class="modal fade" id="completeUploadModal" tabindex="-1" role="dialog" aria-labelledby="deleteUploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteUploadModalLabel">Complete Upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to complete this upload?
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('ui.upload_complete') }}" method="POST">
                {{ confirm_form.hidden_tag() }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Complete</button>
            </form>
        </div>
        </div>
    </div>
</div>
    
{{ formhelper.render_pagination(uploads, 'ui.study', search=searchForm.search.data, study_id=study.id) }}

{% endblock %}

{% block js %}
<script>
    function findAncestor (el, cls) {
        while ((el = el.parentElement) && !el.classList.contains(cls));
        return el;
    }

    $('#deleteUploadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')

        var modal = $(this)
        modal.find('.modal-footer input#id').val(id)
    })

    $('#completeUploadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')

        var modal = $(this)
        modal.find('.modal-footer input#id').val(id)
    })

    $('#showCompleted').click(function (event) {
        $("#searchForm").submit();
    })

    $('.download-all').click(function (event) {
        event.preventDefault();
        ud = findAncestor(this, 'upload_details');

        links = []

        $('.download', ud).each(function(){
            links.push(this)
        });

        var interval = setInterval(download_files, 1000, links);

        function download_files() {
            var l = links.pop();

            l.click();

            if (links.length == 0) {
                clearInterval(interval);
            }
        }
    })


</script>
{% endblock %}
