{% extends "ui/menu_page.html" %}

{% from "lbrc/form_macros.html" import render_form_fields, render_field_and_submit %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}
{% from "lbrc/tabbed_display.html" import tabbed_display_tab with context %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>{{ study.name }} Uploads</h2>

        <form action="{{ url_for('ui.study', study_id=study.id) }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}

                <div class="button_bar">
                    <button type="submit" formaction="{{ url_for('ui.study_csv', study_id=study.id) }}" formmethod="get">Download Upload Details</button>
                    <button type="submit" hx-post="{{ url_for('ui.upload_delete_page', study_id=study.id) }}" hx-confirm="Are you sure you wish to delete all of the uploads on this page?" >Delete All on Page</button>
                </div>
            </fieldset>    
        </form>    
    </header>

    {{ pagination_summary(uploads, 'upload') }}

    <ul class="panel_list">
        {% for u in uploads.items %}
            <li>
                <header class="flex_two_left_grow">
                    <div>
                        <h3>{{ study.get_study_number_name() }}: {{ u.study_number }}</h3>
                        <h4>Uploaded on {{ u.date_created | date_format }} by <a href="mailto:{{ u.uploader.email }}">{{ u.uploader.full_name }}</a></h4>
                    </div>
                    <nav class="link_list">
                        {% if u.completed %}
                            <span class="pill">Completed</span>
                        {% endif %}
                        {% if u.deleted %}
                            <span class="pill">Deleted</span>
                        {% endif %}
                        {% if not u.deleted %}
                            <a title="Delete upload for {{ study.get_study_number_name() }} {{ u.study_number }}" hx-post="{{ url_for('ui.upload_delete', id=u.id) }}" hx-confirm="Are you sure you wish to delete '{{ u.study_number }}'?" href="javascript:;" class="icon delete error" role="button">Delete</a>
                        {% endif %}
                    </nav>
                </header>

                <dl class="columns">
                    {% for d in u.data | sort(attribute='field.order')%}
                        <dt>{{ d.field.field_name }}</dt>
                        <dd>{{ d.value | default('', true) }}</dd>
                    {% endfor %}
                </dl>

                <div class="tabbed_display">
                    <div class="tabbed_display_tabs">
                        {{ tabbed_display_tab('files', 'files', 'Files', 'javascript:;') }}
                    </div>
                    <div class="tabbed_display_content flex_two_left_grow">
                        <nav class="link_list">
                            {% for f in u.files %}
                                {% if f.file_exists() %}
                                    <a class='icon download upload_{{u.id}}_file' href="{{ url_for('ui.download_upload_file', upload_file_id=f.id) }}" role="button">{{ f.get_download_filename() }}</a>
                                {% else %}
                                    <a class='icon download muted' role="button">{{ f.get_download_filename() }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>    
                        <nav class="link_list">
                            {% if u.has_existing_files() %}
                                <a class="icon download_all warning" onclick="download_all({{u.id}});" href="javascript:;" role="button">Download All</a>
                            {% endif %}
                            {% if u.deleted and u.has_existing_files() %}
                                <a title="Delete all files for upload {{ study.get_study_number_name() }} {{ u.study_number }}" hx-post="{{ url_for('ui.upload_delete', id=u.id) }}" hx-confirm="Are you sure you wish to delete all files for upload '{{ u.study_number }}'?" href="javascript:;" class="icon delete error" role="button">Delete All</a>
                            {% endif %}
                        </nav>
                    </div>            
                </div>
            </li>
        {% endfor %}
    </ul>        
</section>

{{ render_pagination(uploads, 'ui.study', form=search_form, study_id=study.id) }}

<script>
    function download_all (upload_id) {
        const all_files = Array.from(document.querySelectorAll(`.upload_${upload_id}_file`));

        var interval = setInterval(download_files, 1000, all_files);

        function download_files() {
            var l = all_files.pop();

            l.click();

            if (all_files.length == 0) {
                clearInterval(interval);
            }
        }
    }
</script>
{% endblock %}
