{% extends "lbrc_flask/page.html" %}
{% import "lbrc_flask/form_macros.html" as formhelper %}

{% block content %}


<div class="row justify-content-center">

    <div class="col-8">
        <div class="card study-card">
            <div class="card-header">
                <div>{{ study.name }}: Upload</div>
            </div>
    
            <div class="card-body">
    
                <form id="study_data_upload" method="POST" class="form panel-body" enctype="multipart/form-data">
                    <fieldset>
                        {{ form.hidden_tag() }}
    
                        {% for f in form %}
                            {{ formhelper.render_field(f) }}
                        {% endfor %}
    
                        {{ formhelper.render_button_bar('ui.index', submit_label="Upload") }}
                    </fieldset>                   
                </form>
            </div>
        </div>            
    </div>
</div>


<!-- Upload Progress Dialog Simple-->
<div class="modal fade" id="uploadProgressModalSimple" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadProgressModalSimple" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadProgressModalLabel">Uploading data</h5>
            </div>
            <div class="modal-body">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
    $("form#study_data_upload").submit(function(e){
        $('#uploadProgressModalSimple').modal('show');
    });
</script>

{% endblock %}
